.checkout-title {
    margin-top: 48px;
    text-align: center;
}

.checkout-btn {
        background: #a2b7f0;
        border: none;
        border-radius: 15px;
        padding: 8px 12px;
        font-weight: 600;
        margin-bottom: 8px;
        cursor: pointer;
        width: 200px;
}